<%= form_for(@notebook_filter) do |f| %>
    <div class="up">
    </div>
    <div class="middle" style='clear:both'>
      <div>
        <%= f.text_field :name, :class => 'form-control', :placeholder =>  "过滤条件的名字，如： T440"%>
      </div>
      <div>
        <%= f.text_field :cpu, :class => 'form-control', :placeholder =>  "cpu关键字"%>
      </div>
      <div>
        <%= f.text_field :harddisk, :class => 'form-control', :placeholder =>  "硬盘关键字"%>
      </div>
      <div>
        <%= f.text_field :screen, :class => 'form-control', :placeholder =>  "屏幕关键字"%>
      </div>
      <div>
        <%= f.text_field :keyword, :class => 'form-control', :placeholder =>  "附加关键字"%>
      </div>
      <div>
        <%= f.text_field :price, :class => 'form-control', :placeholder =>  "价格关键字"%>
      </div>
    </div>

    <div class="down" style='clear:both'>
      <div>
        <button class="btn btn-primary btn-xs">
          <span class="glyphicon glyphicon-save"></span>
          <%= f.submit '保存', :style => 'background-color:#428bca; border: 0px'%>
        </button>
      </div>
      <div></div>
      <div>
        <button class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-remove"></span>
          <%= link_to '取消', notebook_filters_path, :style => 'color:black' %>
        </button>
      </div>
    </div>
<% end %>
